body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #ffffff;
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#button-part{
    margin-bottom: 15px;
    width:50%;
    height:auto;
    background-color: #ffffff;
    color:black;
    padding:15px;
    border-radius: 5px;
   
    

}
#button{
    display: flex;
    justify-content:center;
    padding: 5px;
    
    align-items: center;
}
#text-input{
    margin-left: 5px;
}
#check-btn{
    margin-right: 5px;
    background-color: #0a0a23;
    color:#ffffff
}
h3{
    font-size: 15px;
    font-weight: 100;
}




#instruction{
    background-color: green;
    border-radius: 5px;
    width: 55%;

   
    
}
p{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}